
<nav class="navbar">
	<ul class="navbar-nav flex-row align-items-center">
		<a href="#" class="navbar-brand">Recipe Book</a>

		<li class="navbar-item">
			<a href="#" class="navbar-link" (click)="onSelect('recipe')">Recipes</a>
			<a href="#" class="navbar-link" (click)="onSelect('shopping-list')">Shopping List</a>
		</li>
	</ul>

	<ul class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle">Menu</a>

		<div class="dropdown-menu">
			<a href="#" class="dropdown-item">Save Date</a>
			<a href="#" class="dropdown-item">Fetch Date</a>
		</div>
	</ul>
	
</nav>