
<nav class="navbar">
	<ul class="navbar-nav flex-row align-items-center">
		<a href="#" class="navbar-brand">Recipe Book</a>

		<li class="navbar-item">
			<a href="#" class="navbar-link" (click)="onSelect('recipe')">Recipes</a>
			<a href="#" class="navbar-link" (click)="onSelect('shopping-list')">Shopping List</a>
		</li>
	</ul>

	<div class="dropdown" appDropdown>
		<button class="btn btn-primary dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Menu
		</button>

		<div class="dropdown-menu" aria-labelledby="about-us">
				<a href="#" class="dropdown-item">Save Date</a>
				<a href="#" class="dropdown-item">Fetch Date</a>
		</div>
	</div>
	
</nav>